@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */
body {
  /* width */
  scrollbar-width: thin;
  /* color */
  scrollbar-color: white black;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
